# Arch packages
*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig

pkg/
src/
# System
.DS_Store
Thumbs.db

# Cache
*.cache
*.log
*.bak
*.swp

# ENVS
rink_master/bin/
rink_master/include/
rink_master/lib/
rink_master/pyvenv.cfg
venv/
env/
.venv/
.env/
conda/


# Configs
.env.local
.vscode/
.idea/

# Build
generated/
dist/
build/

# Private
credentials.json
secret.txt

# Exe
*.pdf
*.exe
